annotated-types==0.7.0
dotenv==0.9.9
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg-pool==3.2.6
pydantic==2.12.0
pydantic_core==2.41.1
python-dotenv==1.1.1
python-postgres==0.0.15
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tqdm==4.67.1